@media (min-width: 768px){
.hero-block {
    min-height: 650px;
}
.col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}
.hero-block .content-wrap .block-title.medium-font {
    font-size: 60px;
    line-height: .9;
}
.col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}
.hero-block .image-wrap {
    width: 500px;
    max-width: none;
    margin-top: 0;
}
.col-md-4, .p-gallery__card-item {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

}
@media (min-width: 77.5rem){
.hero-block .content-wrap .block-title.medium-font {
    font-size: 90px;
}
.hero-block .image-wrap {
    width: 550px;
}
}
@media (min-width: 1200px){
.py-section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.carousel--full-page .carousel__item>div, .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1080px;
}
.card--product--xl .card--product--swiper__img {
    height: auto;
    max-height: 140px;
}
}

@media (min-width: 992px){
.section-with-mouse .section-with-mouse__text-wrapper {
    display: flex;
}
}
