@media (min-width: 768px){
.hero-block {
    min-height: 650px;
}
.col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}
.hero-block .content-wrap .block-title.medium-font {
    font-size: 60px;
    line-height: .9;
}
.col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}
.hero-block .image-wrap {
    width: 500px;
    max-width: none;
    margin-top: 0;
}
.col-md-4, .p-gallery__card-item {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
.card{
  padding-top: 0;
}
.site_name{
  font-size: 13px;
  font-weight: 400;
}
.card-content{
  padding: 20px;
  border-radius: 1rem;
}
.card-content > figure > img{
  object-fit: contain;
}

}
@media (min-width: 77.5rem){
.hero-block .content-wrap .block-title.medium-font {
    font-size: 90px;
}
.hero-block .image-wrap {
    width: 550px;
}
}
@media (min-width: 1200px){
.py-section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.carousel--full-page .carousel__item>div, .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1080px;
}
.card--product--xl .card--product--swiper__img {
    height: auto;
    max-height: 140px;
}
}

@media (min-width: 992px){
.section-with-mouse .section-with-mouse__text-wrapper {
    display: flex;
}
}
@media (max-width: 768px){
.section-title p{
    width: 320px !important;
}
}
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&family=DM+Mono:wght@400;500&display=swap');


html {
   
    padding: 0 !important;
}

:root {
  --card-height: 40vw;
  --card-margin: 4vw;
  --card-top-offset: 1em;
  --numcards: 4;
  --outline-width: 0px;
}
.work h1{
  font-size: 2.6rem;
    font-weight: 900;
    text-align: center;
}


header, main {
  width: 80vw;
  margin: 0 auto;
}

header {
  /* height: 20vh; */
  display: grid;
  place-items: center;
  /* margin-bottom: 80px; */
}

#cards {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--numcards), var(--card-height));
  gap: var(--card-margin);
  padding-bottom: calc(var(--numcards) * var(--card-top-offset));
  margin-bottom: var(--card-margin);
  padding-top: 50px;
}

#card-1 {
  --index: 1;
}

#card-2 {
  --index: 2;
}

#card-3 {
  --index: 3;
}

#card-4 {
  --index: 4;
}
#card-5{
  --index:5;
}
#card-6{
  --index:6;
}
#card-7{
  --index:7;
}
#card-8{
  --index:8;
}
#card-9{
  --index:9;
}
#card-10{
  --index:10;
}


.card {
  position: sticky;
  top: 115px;
  padding-top: calc(var(--index) * var(--card-top-offset));
}

.card-content {
  box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
  background: #fffaf2;
  color: #131212;
  border-radius: 2rem;
  overflow: hidden;
  display: grid;
  grid-template-areas: "text img";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: stretch;
  padding: 1.4em;
}

.card-content > div {
  grid-area: text;
  width: 95%;
  max-width: 800px;
  place-self: center;
  text-align: left;
  display: grid;
  gap: 1em;
  place-items: start;
}

.card-content > figure {
  grid-area: img;
  overflow: hidden;
}

.card-content > figure > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: .4em;
}

h1 {
  font-weight: 300;
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: 'Cormorant Garamond', serif;
}

h2 {
  font-weight: bold;
  font-size: 2.5rem;
  font-family: 'Cormorant Garamond', serif;
  margin: 0;
}

p {
  font-weight: 300;
  line-height: 1.42;
  font-size: 1.1rem;
}

/* Animation */
@supports (animation-timeline: works) {

  @scroll-timeline cards-element-scrolls-in-body {
    source: selector(body);
    scroll-offsets:
      selector(#cards) start 1,
      selector(#cards) start 0
    ;
    start: selector(#cards) start 1;
    end: selector(#cards) start 0;
    time-range: 4s;
  }

  .card {
    --index0: calc(var(--index) - 1);
    --reverse-index: calc(var(--numcards) - var(--index0));
    --reverse-index0: calc(var(--reverse-index) - 1);
  }
  
  .card__content {
    transform-origin: 50% 0%;
    will-change: transform;

    --duration: calc(var(--reverse-index0) * 1s);
    --delay: calc(var(--index0) * 1s);

    -webkit-animation: var(--duration) linear scale var(--delay) forwards;

            animation: var(--duration) linear scale var(--delay) forwards;
    animation-timeline: cards-element-scrolls-in-body;
  }

  @-webkit-keyframes scale {
    to {
      transform:
        scale(calc(
          1.1
          -
          calc(0.1 * var(--reverse-index))
        ));
    }
  }

  @keyframes scale {
    to {
      transform:
        scale(calc(
          1.1
          -
          calc(0.1 * var(--reverse-index))
        ));
    }
  }
}
.lb_parnter .lb_partner_wrap .lb_partner_wrap_inn .a_parnter {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    width: 100%;
    max-width: 220px;
    margin: 0 auto;
    padding: 18px 10px;
    border: 1px solid #005dac;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(255,255,255,.5);
    background: 0 0;
    cursor: pointer;
}
#our-work{
  padding-top: 120px;
}